[Unit]
Description=Frank
After=cagekeeper.service

[Service]
Type=simple
Environment="DAC_SOCKET=/deviceinfo/dac.sock"
ExecStartPre=/bin/bash -c 'while [ ! -f "/persistent/burrowing_complete" ]; do sleep 5; done'
ExecStart=/opt/eight/bin/frankenfirmware
Restart=always
RestartSec=13
KillMode=control-group
WorkingDirectory=/persistent

[Install]
WantedBy=multi-user.target
