[Unit]
Description=opensleep

[Install]
WantedBy=multi-user.target

[Service]
Environment=RUST_LOG=info
ExecStart=/opt/opensleep/opensleep
WorkingDirectory=/opt/opensleep
Restart=always
Type=simple
RestartSec=5
StartLimitInterval=60
StartLimitBurst=3
