[Unit]
Description=Open Sleep

[Install]
WantedBy=multi-user.target

[Service]
ExecStart=/opt/opensleep/opensleep
WorkingDirectory=/opt/opensleep
Restart=always
Type=simple
